#slash_admin_loader-container {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    overflow: hidden;
}

#slash_admin_loader-container .slash_admin_logo-loader {
    opacity: 1;
    width: auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 48px);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 96px;
    height: 96px;
}

#slash_admin_loader-container .slash_admin_logo-loader img {
    height: auto;
}

.slash_admin_image-rounded img {
    border-radius: 50%;
}

.slash_admin_loader_delay-msg {
    position: absolute;
    z-index: 99999999;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 10%;
    display: none;
}

.slash_admin_loader {
    margin: -5em auto 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid #ccc;
    border-right: 0.2em solid #ccc;
    border-bottom: 0.2em solid #ccc;
    border-left: 0.2em solid #000;
    position: absolute;
    top: 50%;
    left: calc(50% - 5em);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.slash_admin_loader,
.slash_admin_loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
