#oldie {
	background: #FDF2AB;
	padding: 1em 2em;
	position: relative;
	min-height: 40px;
	z-index: 9999;
	display: block;
}
#oldie p {
	display: block;
	width: 90%;
	margin: 0 auto;
}
#oldie img {
	float: left;
	padding-right: 0.5em;
}
#oldie a {
	color: #E25600;
}
#oldie a:hover {
	color: #FF8941;
}
span.oldie-close {
	display: block;
	position: absolute;
	right: 1em;
	top: 1em;
	font-weight: bold;
	cursor: pointer;
}
span.oldie-close:hover {
	color: #E25600;
}